apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  labels:
    deployed-by: romanok1
  name: dex
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: dex
    server: https://kubernetes.default.svc
  project: default
  sources:
  - chart: dex
    repoURL: https://charts.dexidp.io
    targetRevision: 0.16.0
    helm:
      valueFiles:
      - $values/example/helm/values.dex.yaml
  - repoURL: https://github.com/kromanow94/kubeflow-manifests.git
    targetRevision: helmcharts
    ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 5
    syncOptions:
    - CreateNamespace=true