apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  name: metacontroller
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: metacontroller
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: metacontroller-helm
      repoURL: ghcr.io/metacontroller
      targetRevision: v2.6.1
      helm:
        valueFiles:
          - $values/example/helm/values.metacontroller.yaml
    - repoURL: https://github.com/kromanow94/kubeflow-manifests.git
      targetRevision: kubeflow-0.2.0
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 5
    syncOptions:
      - CreateNamespace=true
